.main{

}
.heading{

}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verified{
    color: green;
}
.notVerified{
    color: red;
}
.clickHere{
    color: blue;
}