
.main{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-width: 600px;
    max-width: 800px;
    background-color: #242582;
    margin-top: 30px;
    padding: 10px 10px;
    border-radius: 10px;
}
.li{
    position: relative;
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    border: 1px solid #f64c71;
    border-radius: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.expenseGroup{
    /* position: relative; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap:10px;
}
.expenseInfo{
    position: absolute;
    left: 140px;
}

.amount{
    background-color: #0e0f4e;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid #f64c71;
    font-size: 20px;
}
.description{
    text-transform: uppercase;
    font-size: 20px;
}
.category{
    color: #f64c71;
}
.editButton{
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #f64c71;
    padding: 8px 15px;    
    margin-block: 5px;
}
.deleteButton{
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #f64c71;
    padding: 8px 15px;
    margin-block:2px;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent overlay */
    z-index: 9999; /* Ensure the loading overlay is on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    border: 4px solid #f3f3f3; /* Light gray border for the spinner */
    border-top: 4px solid #3498db; /* Blue border for the spinner animation */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }